/* Extra small devices (mobile) */
@media screen and (max-width: 576px) {
    #happy {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        /* font-family: "Playfair Display", serif; */
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
        position: relative;
        top: 15px;
        color: #ffd700;
    }

    #body {
        /*background-image: url("https://i.pinimg.com/originals/44/61/a6/4461a623d57bbebdce6729d66c6763e3.jpg");*/
        background-image: url("https://i.pinimg.com/736x/78/9a/c3/789ac3bd52c3a884f89ad3417e199ec8.jpg");
        background-size: cover;
        width: 1080px;
        height: 2230px;
    }


    #onam {
        font-family: "Hurricane", cursive;
        /*font-family: "Poppins", cursive;*/
        position: relative;
        right: 50px;
        bottom: 240px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 300px;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        transition: transform .2s;
        /* Animation */
    }

    #onam:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }

    .wish {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.263);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        left: 190px;
        top: 760px;
        width: 720px;
        height: 390px;
        border-radius: 10px;
    }


    .dev {
        text-align: center;
        color: whitesmoke;
        font-family: "DM Sans", sans-serif;
        font-size: 60px;
        font-weight: bold;
        position: relative;
        top: 1900px;
        left: 25px;
    }

    #insta {
        text-align: center;
        color: #ffb300;
        text-decoration: none;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        font-variation-settings:
            "ELGR" 1,
            "ELSH" 2;
        position: relative;
        top: 1878px;
        left: 410px;
    }

    #insta :hover {
        color: #f4f3f0;
    }

    #insta_icon {
        position: relative;
        top: 1890px;
        left: 390px;
        height: 50px;
        width: 50px;
    }
}


/* Small devices (mobile/tablets) */
@media screen and (min-width: 576px) and (max-width: 768px) {
    #happy {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        /* font-family: "Playfair Display", serif; */
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
        position: relative;
        top: 65px;
        color: #ffd700;
    }

    #body {
        /*background-image: url("https://i.pinimg.com/originals/44/61/a6/4461a623d57bbebdce6729d66c6763e3.jpg");*/
        background-image: url("https://i.pinimg.com/736x/78/9a/c3/789ac3bd52c3a884f89ad3417e199ec8.jpg");
        background-size: cover;
        width: 1080px;
        height: 2200px;
    }


    #onam {
        font-family: "Hurricane", cursive;
        /*font-family: "Poppins", cursive;*/
        position: relative;
        right: 50px;
        bottom: 240px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 380px;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        transition: transform .2s;
        /* Animation */
    }

    #onam:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }

    .wish {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.263);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        left: 165px;
        top: 730px;
        width: 800px;
        height: 460px;
        border-radius: 10px;
    }


    .dev {
        text-align: center;
        color: whitesmoke;
        font-family: "DM Sans", sans-serif;
        font-size: 60px;
        font-weight: bold;
        position: relative;
        top: 1900px;
        left: 25px;
    }

    #insta {
        text-align: center;
        color: #ffb300;
        text-decoration: none;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        font-variation-settings:
            "ELGR" 1,
            "ELSH" 2;
        position: relative;
        top: 1878px;
        left: 410px;
    }

    #insta :hover {
        color: #f4f3f0;
    }

    #insta_icon {
        position: relative;
        top: 1890px;
        left: 390px;
        height: 50px;
        width: 50px;
    }
}


/* Medium devices (tablets/laptops) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #happy {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        /* font-family: "Playfair Display", serif; */
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
        position: relative;
        top: 65px;
        color: #ffd700;
    }

    #body {
        /*background-image: url("https://i.pinimg.com/originals/44/61/a6/4461a623d57bbebdce6729d66c6763e3.jpg");*/
        background-image: url("https://i.pinimg.com/736x/78/9a/c3/789ac3bd52c3a884f89ad3417e199ec8.jpg");
        background-size: cover;
        width: 1080px;
        height: 2200px;
    }


    #onam {
        font-family: "Hurricane", cursive;
        /*font-family: "Poppins", cursive;*/
        position: relative;
        right: 50px;
        bottom: 240px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 380px;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        transition: transform .2s;
        /* Animation */
    }

    #onam:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }

    .wish {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.263);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        left: 165px;
        top: 730px;
        width: 800px;
        height: 460px;
        border-radius: 10px;
    }


    .dev {
        text-align: center;
        color: whitesmoke;
        font-family: "DM Sans", sans-serif;
        font-size: 60px;
        font-weight: bold;
        position: relative;
        top: 1900px;
        left: 25px;
    }

    #insta {
        text-align: center;
        color: #ffb300;
        text-decoration: none;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        font-variation-settings:
            "ELGR" 1,
            "ELSH" 2;
        position: relative;
        top: 1878px;
        left: 410px;
    }

    #insta :hover {
        color: #f4f3f0;
    }

    #insta_icon {
        position: relative;
        top: 1890px;
        left: 390px;
        height: 50px;
        width: 50px;
    }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* CSS rules */
    #happy {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        /* font-family: "Playfair Display", serif; */
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
        position: relative;
        top: 15px;
        color: #ffd700;
    }

    #body {
        /*background-image: url("https://i.pinimg.com/originals/44/61/a6/4461a623d57bbebdce6729d66c6763e3.jpg");*/
        background-image: url("https://i.pinimg.com/originals/44/61/a6/4461a623d57bbebdce6729d66c6763e3.jpg");
        background-size: cover;
        background-position: center;
        width: 1024px;
        height: 950px;
    }


    #onam {
        font-family: "Hurricane", cursive;
        /*font-family: "Poppins", cursive;*/
        position: relative;
        right: 50px;
        bottom: 240px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 300px;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        transition: transform .2s;
        /* Animation */
    }

    #onam:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }

    .wish {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.263);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        left: 300px;
        top: 500px;
        width: 720px;
        height: 390px;
        border-radius: 10px;
    }


    .dev {
        text-align: center;
        color: whitesmoke;
        font-family: "DM Sans", sans-serif;
        font-size: 26px;
        font-weight: bold;
        position: absolute;
        top: 850px;
        right: 380px;
    }

    #insta {
        text-align: center;
        color: #ffb300;
        text-decoration: none;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        font-variation-settings:
            "ELGR" 1,
            "ELSH" 2;
        position: absolute;
        top: 920px;
        right: 390px;
    }

    #insta :hover {
        color: #f4f3f0;
    }

    #insta_icon {
        position: absolute;
        height: 23px;
        width: 23px;
        top: 920px;
        right: 525px;
    }
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {

    /* CSS rules */
    #happy {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        /* font-family: "Playfair Display", serif; */
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
        position: relative;
        top: 15px;
        color: #ffd700;
    }

    #body {
        background-image: url("https://i.pinimg.com/originals/44/61/a6/4461a623d57bbebdce6729d66c6763e3.jpg");
        /*background-image: url("C:\\Users\\mohana\\Desktop\\HTML coding\\mini projects\\Onam.jpg");*/
        background-size: cover;
        background-position: center;
        width: 1024px;
        height: 1070px;
    }


    #onam {
        font-family: "Hurricane", cursive;
        /*font-family: "Poppins", cursive;*/
        position: relative;
        right: 50px;
        bottom: 240px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 300px;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        transition: transform .2s;
        /* Animation */
    }

    #onam:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }

    .wish {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.263);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        left: 350px;
        bottom: 300px;
        width: 720px;
        height: 390px;
        border-radius: 10px;
    }


    .dev {
        text-align: center;
        color: whitesmoke;
        font-family: "DM Sans", sans-serif;
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        top: 920px;
        right: 600px;
    }

    #insta {
        text-align: center;
        color: #ffb300;
        text-decoration: none;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 22px;
        font-variation-settings:
            "ELGR" 1,
            "ELSH" 2;
        position: absolute;
        top: 1003px;
        right: 605px;
    }

    #insta :hover {
        color: #f4f3f0;
    }

    #insta_icon {
        position: absolute;
        height: 25px;
        width: 25px;
        top: 1005px;
        right: 770px;
    }
}

/*svg{
    position: absolute;
    right: 500px;
    top: 250px
}*/


/*
html {
    background-color: black;
}

.main {
    position: relative;
    bottom: 20px;
    left: 25px;
    width: 720;
    height: 405;
    margin: 0 auto;
    background-color: orangered;
    box-shadow: white 10px 10px;
}

.fl{
    display: flex;
}

.main1{
    position: relative;
    left:40px;
    width: 360px;
    height: 100px;
    background-color: white;
    box-shadow: #ffd700 10px 10px;
}

.main2{
    position: relative;
    top: 30px;
    left: 10px;
    margin: 0 auto;
    padding: 0 8px;
    width: 360px;
    height: 100px;
    background-color: orangered;
    box-shadow: #ffd700 10px 10px;
}

.main3{
    position: relative;
    right: 50px;
    margin: 0 auto;
    padding: 0 8px;
    width: 300px;
    height: 160px;
    background-color: white;
    box-shadow: #ffd700 10px 10px;
}

.main4{
    position: relative;
    bottom: 40px;
    width: 360px;
    height: 100px;
    background-color: white;
    box-shadow: orangered 10px 10px;
}

.main5{
    position: absolute;
    left:30px;
    bottom: 210px;
    margin-top:100px;
    width: 360px;
    height: 100px;
    margin: 0 auto;
    background-color: white;
    box-shadow: orangered 10px 10px;
}
.main6{
    position: relative;
    bottom: 60px;
    right: 550px;
    width: 360px;
    height: 100px;
    margin: 0 auto;
    background-color: #ffd700;
    box-shadow: #ffffff 10px 10px;
}

.main8{
    position: relative;
    top:10px;
    bottom:20px;
    width: 320px;
    height: 100px;
    margin: 0 auto;
    background-color: rgba(21, 20, 20, 0.911);
    box-shadow: orangered 10px 10px;
}

.main7{
    position: absolute;
    right:15px;
    bottom:50px;
    width: 320px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(157, 94, 94);
    box-shadow: orangered 10px 10px;
}

.main9{
    position: absolute;
    right: 20px;
    bottom:240px;
    width: 320px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(157, 94, 94);
    box-shadow: orangered 10px 10px;
}


.t1 {
    text-align: left;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 10px;
    font-size: 150;
    color: whitesmoke;
}

.t5 {
    text-align: left;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 10px;
    font-size: 70;
    color: #ffd700;
}


.t4 {
    text-align: left;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 10px;
    font-size: 65;
    color: rgb(0, 0, 0);
}

.t3 {
    text-align: left;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 10px;
    font-size: 70;
    color: rgb(0, 0, 0);
}

.t2 {
    text-align: left;
    font-family: "pixelify sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 250;
    margin-top: -70px;
    color: #ffd700;
}

.t6 {
    text-align: left;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 80;
    color: #ffd700;
}

.t7 {
    text-align: left;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 80;
    color: #ffd700;
}

.mid{
    display: flex;
}*/